Dear -applicant_name-,<br><br>

Thank you for submitting your ADU application for -proj_address-. <br><br>

We will review your application and contact you within 5 business days with the next steps.<br><br>

If you do not receive a call back, please email us at <a href="mailto://dbicustomerservice@sfgov.org">dbicustomerservice@sfgov.org</a>.<br><br>

<a href="https://sf.gov/topics/accessory-dwelling-unit-adu" target="_blank">Find more information about ADUs</a>.<br><br><br>
Thank you,

Department of Building Inspection