Dear -applicant_name-,<br><br>

Thank you for submitting your ADU application for -proj_address-. See your submitted application in <a href="-accela_link-" target="_blank">Accela</a>. <br><br>

Your planning application number is -prj_number-.<br><br>

Use it to track your application in the Planning Applications tab in <a href="https://sfplanninggis.org/pim/" target="_blank">our Property Information Map (PIM)</a>. It will take 1 day for your record to appear in PIM.<br><br>

A planner will email you about next steps, including how to pay the intake fee, within 14 days.<br><br>

If you'd like to submit revised plans into Bluebeam, be sure to insert a <a href="https://sfdbi.org/ccsf-bluebeam-back-check-menu" target="_blank">Back Check Menu page</a> by following <a href="https://sfdbi.org/BackCheckInstructions" target="_blank">these detailed Back Check instructions</a> or learn more about the <a href="https://sf.gov/information/plan-review-process-bluebeam" target="_blank">plan review process in Bluebeam</a>.<br><br>

Find more information about ADUs at <a href="https://sfplanning.org/accessory-dwelling-units" target="_blank">SF Planning</a>.<br><br><br>
Thank you,

SF Planning